.wrapper.ohnooo
    - const upDog = dog.toUpperCase();
    p.hello Hello!! My dog name is #{upDog}
    span#yo Yo!!
    img.dog(src="dog.jpg" alt=`${dog.toUpperCase()}`)

h2
    | Hello
    em How Are you?